<a href="https://colab.research.google.com/github/allison713/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN','NAME'], inplace=True)

In [3]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=["T17","T15","T29","T14","T25","T2","T12","T13","T9","T10"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
classifications = application_df["CLASSIFICATION"].unique()

In [9]:
classifications_to_replace = []

for classification in classifications: 
  count = len(application_df[application_df["CLASSIFICATION"] == classification])
  if count < 500:
    classifications_to_replace.append(classification)

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [23]:
incomes = application_df["INCOME_AMT"].unique()
incomes

array(['0', '1-9999', '10000-24999', '100000-499999', '10M-50M',
       '25000-99999', '50M+', '1M-5M', '5M-10M'], dtype=object)

In [25]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df["APPLICATION_TYPE"])
classification_dummies = pd.get_dummies(application_df["CLASSIFICATION"])
affiliation_dummies = pd.get_dummies(application_df["AFFILIATION"])
use_dummies = pd.get_dummies(application_df["USE_CASE"])
organization_dummies = pd.get_dummies(application_df["ORGANIZATION"])
special_dummies = pd.get_dummies(application_df["SPECIAL_CONSIDERATIONS"])
income_dummies = pd.get_dummies(application_df["INCOME_AMT"])

application_df_proc = pd.concat([application_df, application_dummies, classification_dummies, affiliation_dummies, use_dummies, organization_dummies, special_dummies, income_dummies], axis=1)

application_df_proc=application_df_proc.drop(columns=["APPLICATION_TYPE", "CLASSIFICATION", "AFFILIATION", "USE_CASE", "ORGANIZATION", "SPECIAL_CONSIDERATIONS", "INCOME_AMT"])
application_df_proc.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,Other,T19,T3,T4,T5,T6,T7,...,Y,0,1-9999,10000-24999,100000-499999,10M-50M,1M-5M,25000-99999,50M+,5M-10M
0,1,5000,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [26]:
# Split our preprocessed data into our features and target arrays
y = application_df_proc["IS_SUCCESSFUL"].values
X = application_df_proc.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

<ipython-input-26-554aa0c9ab7f>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df_proc.drop(["IS_SUCCESSFUL"],1).values

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 403
Trainable params: 403
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6209 - accuracy: 0.6909
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5720 - accuracy: 0.7229
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7256
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7273
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5556 - accuracy: 0.7280
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5538 - accuracy: 0.7296
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7284
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7306
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5515 - accuracy: 0.7300
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7314
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7312
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7322
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7316
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7315
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7323
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7318
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7322
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7326
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7317
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7317
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7318
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7329
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7331
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7331
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7324
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7315
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7329
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7325
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7320
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7333
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7330
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7339
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7331
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7335
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7333
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7335
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7324
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7336
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7339
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7339
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7332
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5459 - accuracy: 0.7338
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7347
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7338
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7348
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7338
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7337
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7334
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7343
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7341
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7347
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7338
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7343
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7334
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7338
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7352
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7346
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7344
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7343
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7338
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7340
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7348
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7341
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7344
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7346
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7347
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7349
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7346
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7346
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7349
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7339
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7346
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7346
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7348
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7352
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7352
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7349
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7342
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7352
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7346
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7348
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7355
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7348
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7336
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7351
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7345
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7350
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7341
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7343
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7351
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7340
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7346
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7341
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7354
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7341
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7353
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7348
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7345
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7352
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7353

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5529 - accuracy: 0.7231 - 496ms/epoch - 2ms/step
Loss: 0.5529162883758545, Accuracy: 0.7231487035751343

In [34]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")